<form class="form">
    <link rel="stylesheet" href="/cargo/assets/css/auth.css">
    <p class="title">Admin Login </p>
    <p class="message">Welcome Back Admin </p>
           
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Company Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
   
    <button class="submit">Login</button>
    <p class="signin">Not an Admin ? <a href="register.html">Register</a> </p>
    
</form>