{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargo | Login</title>
    <link rel="shortcut icon" type="cargo icon" href="{% static 'cargo/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'cargo/css/auth.css' %}">
  </head>
  <body>
    <form id="loginForm" class="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <p class="title">Login</p>
      <p class="message">Welcome Back!</p>
      {% if message %}
      <div class= "flex">{{ message }}</div>
      {% endif %}
      <label>
        <input id="username" name="username" placeholder="Username" type="text" class="input">
      </label>
      <label>
        <input id="passwordInput" name="password" required="" placeholder="Password" type="password" class="input">
      </label>
      <button id="loginButton" class="submit">Login</button>

      <p class="signin">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      <p class="signin">Not Ready? <a href="{% url 'index' %}">Home</a></p>
      <p class="signin">Login as admin<a href="{% url 'admin:login' %}">Admin</a></p>
    </form>
  </body>
</html>
