{% load static %}
<title>Login | Cargo</title>
<form id="loginForm" class="form" method="post" action="{% url 'login' %}">
    <link rel="stylesheet" href="{% static 'cargo/css/auth.css' %}">
    <p class="title">Login</p>
    <p class="message">Welcome Back!</p>
    {% csrf_token %}
    <label>
        <input id="emailInput" name="email" required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label>

    <label>
        <input id="passwordInput" name="password" required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>

    <button id="loginButton" class="submit">Login</button>
    <p class="signin">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    
    <p class="signin">Not Ready? <a href="{% url 'index' %}">Home</a></p>
</form>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var email = document.getElementById("emailInput").value;
        var password = document.getElementById("passwordInput").value;

        // Client-side validation
        if (!email.trim()) {
            alert("Please enter your email");
            return;
        }

        if (!password.trim()) {
            alert("Please enter your password");
            return;
        }

        this.submit();
    });
</script>
