{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargo | Register</title>
    <link rel="shortcut icon" type="cargo icon" href="{% static 'cargo/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'cargo/css/auth.css' %}">
  </head>
  <body>
    <form id="registrationForm" class="form" method="post">
      {% csrf_token %}
      <p class="title">Register</p>
      <p class="message">Signup now and get full access to our app.</p>

      {% if message %}
      <div class= "flex">{{ message }}</div>
      {% endif %}

      <label>
        <input id="Username" name="username" placeholder="Username" type="text" class="input">
      </label>
      <label>
        <input id="emailInput" name="email" placeholder="Email" type="email" class="input">
      </label>
      <label>
        <input id="passwordInput" name="password1" placeholder="Password" type="password" class="input">
      </label>
      <label>
        <input id="confirmPasswordInput" name="password2" required="" placeholder="Confirm Password" type="password" class="input">
      </label>
      <button id="registerButton" class="submit">Register</button>
      <p class="signin">Already have an account? <a href="{% url 'login' %}">Login</a></p>
      <p class="signin">Not Ready? <a href="{% url 'index' %}">Home</a></p>
    </form>
  </body>
</html>

